<form [formGroup]="memeForm" (ngSubmit)="addMeme()">
<p>Titulo</p>
<input #title type="text" formControlName="title">
<p *ngIf="memeForm.get('title').errors && memeForm.get('title').errors.required && (memeForm.get('title').dirty || memeForm.get('title').touch)"
 style="color:red;">Debes escribir un titulo para el meme</p>
<p>Imagen del meme</p>
<input #image type="text" formControlName="image">
<p>Descripción</p>
<input #description type="text" formControlName="description">

<button type="submit" [disabled]="!memeForm.valid">
Agrega tu meme
</button>
</form>

<p>
  {{memeForm.value | json}}
  {{memeForm.status}}
{{memeForm.get('title').errors | json}}
</p>
